%common-item-setup {
  font-family: $font-family-display;
  padding: $padded-size;
}

@mixin svg-icon($svgpath) {
  background: {
    image: url(#{$svgpath});
    position: left;
    repeat: no-repeat;
    size: contain;
  }
  display: inline-block;
  text-indent: -9999px;
}

.section-title {
  border-bottom: $border;
  color: lighten($dark-colour, 50%);
  font: {
    size: 1.2em;
    weight: 500;
  }
  text-transform: uppercase;
}

.hide {
  // helps for screen readers.
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.relativize {
  position: relative;
}

.full-width {
  width: 100%;
}

.tooltip {
  font-size: 0.6em;
  margin-left: 3px;
  vertical-align: super;
}

.title-with-colon {
  &:after {
    content: ": "
  }
}

.unlist {
  list-style-type: none;
  padding-left: 0;
}

.horizontal-list {
  li {
    display: inline-block;
  }

  a {
    margin: auto;
  }
}

.comma-list {
  display: inline;
  li {
    display: inline;
  }

  li:after {
    content: ", ";
  }

  li:last-child:after {
    content: "";
  }
}

a,
.hrefable {
  color: $dark-colour;
  text-decoration: none;

  &:hover,
  &:focus {
    color: -webkit-link;
    text-decoration: underline;
    transition: color 1s ease-out;
  }
}

.twitter-color {
  color: $twitter-blue;
}

.github-color {
  color: $github-black;
}

.linkedin-color {
  color: $linkedin-blue;
}

.medium-color {
  color: $medium-green;
}
