@mixin timeline-marker($position) {
  background-color: $highlight-blue;
  border-radius: 50%;
  bottom: 0;
  content: ' ';
  height: 18px;
  $calc: if($position == right, 10px, 7px);
  #{$position}: calc(100% - #{$calc});
  position: absolute;
  top: 4%;
  width: 18px;
}

.section-achievement {
  .section-title {
    margin-top: $padded-size;
    padding-top: $padded-size;
  }
}

.timeline {
  position: relative;
  width: 100%;

  &::before {
    background-color: $highlight-blue;
    bottom: 0;
    content: '';
    left: 50%;
    position: absolute;
    top: $padded-size;
    width: 2px;
  }
}

@mixin timeline-info($position) {
  $opposite: 'left' !default;
  $bottom-area: 'left bright' !default;
  @if $position == 'left' {
    $opposite: 'right';
    $bottom-area: 'bleft right';
  }

  .job-info {
    display: inline-grid;
    grid-gap: 2% 0;
    grid-template: {
      areas: 'left right'
            '#{$bottom-area}';
      columns: auto;
      rows: 1fr 1fr;
    }
    width: 100%;
    .highlight {
      &-main {
        grid-area: #{$opposite};
        margin-top: 0;
        text-align: #{$opposite};
      }

      &-secondary {
        grid-area: #{$position};
        justify-self: stretch;
        margin: 0;
        text-align: #{$position};
      }

      &-lower {
        grid-area: b#{$position};
        text-align: #{$position};
      }
    }

  }
}

.timeline-item {
  clear: both;
  padding: $padded-size;
  position: relative;
  width: 50% - ($padded-size * 2);

  &:nth-child(odd) {
    @include timeline-info(left);

    &::after {
      @include timeline-marker(left);
    }
  }

  &:nth-child(even) {
    float: right;

    @include timeline-info(right);

    &::after {
      @include timeline-marker(right);
    }
  }
}

.job-info {
  * {
    color: $dark-colour;
  }
}

.highlight {
  &-main {
    color: darken($highlight-blue, 30%);
    font-size: 1em;
    font-weight: 500;
  }
  &-secondary {
    @include main-information;
    color: darken($dark-colour, 5%);
  }

  &-lower {
    @include secondary-information
  }

  &-emphasis {
    @include main-information;
    color: darken($dark-colour, 60%);
    font-size: 1.2em;
  }
}

.list-achievement {
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.no-horizontal-margin {
  margin: 0 auto;
}

.indent {
  margin-left: 1em;
}

.read-text {
  font-family: $font-family-text;
  letter-spacing: .3px;
  line-height: 20px;
  padding: 0 8px;
  text-align: justify;
}
