$timeline-track-width: 2px;
$timeline-marker-size: 16px;

@mixin timeline-marker($position, $padding-to-content) {
  background-color: $highlight-blue;
  border-radius: 50%;
  bottom: 0;
  content: " ";
  height: $timeline-marker-size;

  #{$position}: calc(100% + $padding-to-content / 2);
  position: absolute;
  top: 10%;
  width: $timeline-marker-size;
}

.section-achievement {
  border-top: $border;
  margin-top: $padded-size * 2;
  padding-top: $padded-size * 2;
}

.timeline {
  position: relative;
  width: 100%;

  &::before {
    background-color: $highlight-blue;
    bottom: 0;
    content: "";
    left: 0%;
    position: absolute;
    top: calc($padded-size + ($timeline-marker-size / 2));
    width: $timeline-track-width;
  }
}

@mixin timeline-info($position) {
  $opposite: "left" !default;
  $bottom-area: "left bright" !default;
  @if $position == "left" {
    $opposite: "right";
    $bottom-area: "bleft right";
  }

  .job-info {
    display: inline-grid;
    position: relative;
    grid-gap: 2% 0;
    grid-template: {
      areas: "left right" "#{$bottom-area}";
      columns: auto;
      rows: auto 1fr;
    }
    width: 100%;
    .highlight {
      &-main {
        grid-area: #{$opposite};
        margin-top: 0;
        text-align: #{$opposite};
      }

      &-secondary {
        grid-area: #{$position};
        justify-self: stretch;
        margin: 0;
        text-align: #{$position};
      }

      &-lower {
        font-size: 1em;
        grid-area: b#{$position};
        text-align: #{$position};
      }
    }
  }
}

.timeline-item {
  @extend %common-item-setup;
  $padding-to-track: 18px;

  clear: both;
  position: relative;
  width: calc(100% - ($padded-size * 2));
  padding-left: $padding-to-track;

  @include timeline-info(right);

  .job-info::after {
    @include timeline-marker(right, $padding-to-track);
  }
}

.job-info {
  * {
    color: $dark-colour;
  }
}

.job-stack {
  >[aria-label] {
    font-size: 1em;
    display: inline;
  }

  justify-self: stretch;
  font-size: 0.9em;
  margin-top: $padded-size;
  text-align: justify;
}

.job-achievement {
  margin-top: $padded-size / 2;
}

.highlight {
  &-main {
    color: darken($highlight-blue, 30%);
    font-size: 1.5em;
    font-weight: 500;
  }
  &-secondary {
    @include main-information;
    color: darken($dark-colour, 5%);
  }

  &-lower {
    @include secondary-information;
  }

  &-emphasis {
    @include section-emphasis;
  }
}

.list-achievement {
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.no-horizontal-margin {
  margin: 0 auto;
}

.indent {
  margin-left: 1em;
}

.read-text {
  padding: 0 8px;
  @include paragraph;
  text-align: left;
}

.edu {
  @extend %common-item-setup;

  align-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / span 2;
  grid-row: 2;
  padding-left: 0;
  padding-right: 0;
  margin-left: -8px;
  margin-right: -8px;

  > div {
    flex: 1 1 50%;
  }

  .edu-heading {
    @include main-information;
    text-align: left;
  }

  .edu-subtitle {
    @include secondary-information;
    align-self: flex-end;
    text-align: right;
  }

  .edu-fade {
    color: lighten($dark-colour, 20%);
    float: right;
    font-weight: 100;
    padding-right: 2px;
    text-align-last: right;
  }
}
