.section-contact {
  margin-top: 20px;
}

.contact-container {
  display: grid;
  grid: {
    template-columns: repeat(2, 1fr);
    template-rows: repeat(3, auto);
  }
}

// Grid layout
.contact-name {
  @extend %common-item-setup;

  grid-column: 1 / span 2;
  grid-row: 1;

  @include main-section-heading-text();
  text-align: center;
  white-space: nowrap;
  font-size: clamp(41px,4.95vw,75px);
}

.contact-location {
  @extend %common-item-setup;

  grid-column: 2;
  grid-row: 1;

  color: lighten($dark-colour, 20%);
  float: right;
  font-weight: 100;

  // to set child's absolute to the grid cell.
  position: relative;
  
  .below-name {
    bottom: 12%;
    font-size: 0.7em;

    @media (min-width: 1025px) {
      font-size: 0.76em;
    }

    line-height: 0;
    position: absolute;
    right: 0;
    padding: $padded-size 0;
  }
}

.contact-email {
  grid-column: 1;
  grid-row: 2;
  margin-top: 8px;
}

.contact-mobile {
  grid-column: 1;
  grid-row: 3;
}

.contact-email,
.contact-mobile {
  @extend %common-item-setup;

  padding: $padded-size 0;
  text-align: left;

  color: $dark-colour;
  font: {
    size: 1.5em;
    weight: 300;
  }
  margin-left: 20%;
}


.contact-media {
  @extend %common-item-setup;

  margin-top: 8px;

  grid-column: 2;
  grid-row: 2 / span 2;

  display: flex;
  justify-content: end;

  .social-list {
    display: flex;
    width: fit-content;
    margin: 0;

    > li {
      margin: 0 $padded-size;
    }
  }
}
