.section-expertise {
  border-top: $border;
  margin-top: $padded-size;
  padding-top: $padded-size;
}

.expertise-container {
  display: grid;
  grid: {
    template-columns: 1fr repeat(2, 2fr) 1fr;
    template-rows: repeat(4, auto);
  }
}

.expertise-role {
  @extend %common-item-setup;

  grid-column: 1 / span 4;
  grid-row: 1;

  &__main {
    @include main-section-heading-text(2vw);
    text-align: center;
  }

  &__focus {
    @include main-section-heading-text(4vw);
    text-align: center;
  }
}

.expertise-passion {
  @extend %common-item-setup;

  grid-column: 1 / span 4;
  grid-row: 3;

  &__about-me {
    @include paragraph;
    padding: 0 $padded-size;
    text-align: justify;
    hyphens: none;

    em {
      color: $highlight-blue;
      font-style: normal;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}

.expertise-skills {
  @extend %common-item-setup;

  grid-column: 1 / span 4;
  grid-row: 4;

  .open-table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
  }

  .table-heading {
    @include section-emphasis;
    border-left: lighten($dark-colour, 60%) 2px solid;
    padding-left: $padded-size;
    text-align: left;
    width: 165px;

    @media (min-width: 1025px) {
      width: 180px;
    }

    .tooltip-popup {
      margin: 4px 0 8px 0;
      color: lighten($dark-colour, 40%);
      font-size: 0.6em;
      height: max-content;
      max-height: 0;
      overflow: hidden;
      transition: max-height ease-in 400ms;
    }

    &:hover {
      .tooltip-popup {
        max-height: 200px;
        opacity: 1;
        animation-name: popup;
        animation-duration: 500ms;
      }
    }

    @keyframes popup {
      0% {
        height: 0;
        opacity: 0;
      }
      25% {
        height: 50px;
      }
      30% {
        opacity: 0.5;
      }
      100% {
        height: max-content;
        opacity: 1;
      }
    }
  }

  .padding {
    &-top {
      padding-top: 10px;
    }
    &-right {
      padding-right: 5px;
    }
  }

  td {
    font-size: font-size-reduce(3vw);

    div {
      display: inline;
      padding: 0 1vw;
    }

    .ngjs-icon {
      @include svg-icon("../images/angularjs.svg");
      background-size: cover;
      height: 1em;
      width: 3em;
    }
  }

  .drop-bottom {
    line-height: normal;
    vertical-align: text-bottom;
  }
}
