@import "//fonts.googleapis.com/css?family=Nunito|Raleway|Roboto";

$font-family-text: "Raleway", sans-serif;
$font-family-display: 'Roboto', sans-serif;

@mixin headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i} {
      @content
    }
  }
}

@include headings() {
  font-family: 'Nunito', sans-serif;
}

.label {
  font-family: 'Roboto', sans-serif;
}

@function font-size-reduce($size-reduce: 1) {
  @return $section-width / 10 - $size-reduce
}

@mixin main-section-heading-text($size-reduce: 1) {
  color: darken($dark-colour, 5%);
  float: left;
  font: {
    size: font-size-reduce($size-reduce);
    weight: 300;
  }
  width: 100%;
}
