$twitter-blue: #00aced;
$github-black: #333;
$linkedin-blue: #0077b5;
$medium-green: #00ab6c;
$k8s-blue: #326de5;
$section-width: 60vw;
$padded-size: 2%;

$highlight-blue: #8996de;
$dark-colour: #3b3b3b;
$white: #fff;
$border: lighten($dark-colour, 50%) 1px solid;

$screen: 'screen and (min-width: 768px)';
