@import './typography';
@import './variables';
@import './grid';

.section-title {
  border-bottom: lighten($heading-dark, 50%) 1px solid;
  color: lighten($heading-dark, 50%);
  font-size: 1.2em;
  font-weight: 500;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.hide {
  // helps for screen readers.
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.section-contact {
  margin-top: 20px;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

.contact-item {
  font-family: $font-family-display;
  padding: 10px;

  // Grid layout
  &.contact-name {
    grid-column: 1 / span 2;
    grid-row: 1;
    padding-bottom: 30px; // This is to give space for the location to appear at the bottom.
    > span {
      color: darken($heading-dark, 5%);
      float: left;
      font-size: $section-width / 10 - 1;
      font-weight: 300;
      width: 100%;
    }
  }

  &.contact-location {
    grid-column: 2;
    grid-row: 1;

    > span {
      color: lighten($heading-dark, 20%);
      float: right;
      font-weight: 100;
    }

    &.below-name {
      // to set child's absolute to the grid cell.
      position: relative;
    }

    > .below-name {
      bottom: 0;
      font-size: 20px;
      position: absolute;
      right: 0;
    }
  }

  &.contact-email {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    text-align: center;

    span {
      color: $heading-dark;
      font-size: 1.7em;
      font-weight: 300;
    }
  }

  &.contact-mobile {
    grid-column: 1;
    grid-row: 3;
    padding: 0;
    text-align: center;

    span {
      color: $heading-dark;
      font-size: 1.7em;
      font-weight: 300;
    }
  }

  &.contact-media {
    grid-column: 2;
    grid-row: 2 / span 2;
  }

  a {
    color: $heading-dark;
    text-decoration: none;

    &:hover,
    &:focus {
      color: -webkit-link;
      text-decoration: underline;
      transition: color 1s ease-out;
    }
  }
}

.horizontal-list {
  list-style-type: none;

  li {
    display: inline-block;
  }

  a {
    margin: auto;
  }
}

.twitter-color {
  color: $twitter-blue;
}

.github-color {
  color: $github-black;
}

.linkedin-color {
  color: $linkedin-blue;
}

.medium-color {
  color: $medium-green;
}
