@import './typography';
@import './variables';
@import './grid';

.section-title {
  border-bottom: lighten($heading-dark, 50%) 1px solid;
  color: lighten($heading-dark, 50%);
  font-size: 1.2em;
  font-weight: 500;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.hide {
  display: none;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

.contact-item {
  font-family: $font-family-display;
  padding: 10px;

  // Grid layout
  &.contact-name {
    grid-column: 1;
    grid-row: 1;
    > span {
      color: darken($heading-dark, 10%);
      float: left;
      font-size: 2.5em;
    }
  }

  &.contact-location {
    grid-column: 2;
    grid-row: 1;
    > span {
      color: lighten($heading-dark, 20%);
      float: right;
      font-size: 1.8em;
      font-weight: 200;
    }
  }

  &.contact-email {
    grid-column: 1;
    grid-row: 2;
    span {
      color: $heading-dark;
      float: left;
      font-size: 2em;
      font-weight: 300;
    }
  }

  &.contact-mobile {
    grid-column: 1;
    grid-row: 3;
    span {
      color: $heading-dark;
      float: left;
      font-size: 2em;
      font-weight: 300;
    }
  }

  &.contact-media {
    grid-column: 2;
    grid-row: 2 / span 2;
    > ul {
      list-style-type: none;
    }
  }

  a {
    color: $heading-dark;
    text-decoration: none;
  }
}

.fa-twitter-square {
  color: $twitter-blue;
}
