@media print {
    .section {
        width: 70vw;
    }

    .contact-container__heading .contact-location {
        left: calc(100% - 19ch);
        font-size: 9px;
    }

    .contact-location .below-name {
        right: 0;
    }

    .contact-email, .contact-mobile {
        margin-left: 2%;
        width: 100%;
    }

    .social-list {
        flex-wrap: wrap;
    }

    .contact-media {
        margin-right: 2%;
        padding-right: 0;
    }

    .contact-media .social-list>li {
        margin: 0;
        width: 50%;
    }

    .social-list li:last-child,
    .social-list li:nth-last-child(2) {
        margin-top: 8px;
    }

    .social-link {
        display: grid;
        place-content: center;
    }

    .social-link span {
        display: block;
        position: static;
        font-size: 10px;
        height: auto;
        padding-top: 8px;
        width: fit-content;
    }

    .expertise-passion__about-me {
        margin-top: 0px;
    }

    .expertise-skills .table-heading {
        width: 48%;
    }

    .expertise-skills .table-heading .tooltip {
        display: none;
    }

    .expertise-skills .table-heading .tooltip-popup {
        margin-bottom: 18px;
        max-height: max-content;
        font-size: 10px;
        font-style: italic;
    }

    p {
        display: block;
    }

    .expertise-skills table,
    .expertise-skills table tr,
    .expertise-skills table th,
    .expertise-skills table td,
    .job-info,
    p {
        break-inside: avoid;
    }

    .expertise-skills table.open-table {
        width: 90%;
    }

    .expertise-skills table td {
        font-size: 4.5vw;
    }

    [title="AngularJS"] {
        display: none !important;
    }
}
