@media print {
    .section {
        width: 90vw;
    }

    .expertise-container {
        page-break-after: always;
    }

    .contact-container__heading .contact-location {
        left: calc(100% - 19ch);
        font-size: 9px;
    }

    .contact-location .below-name {
        right: 0;
    }

    .contact-email,
    .contact-mobile {
        margin-left: 2%;
        width: 100%;
    }

    .social-list {
        flex-wrap: wrap;
    }

    .contact-media {
        margin-right: 2%;
        padding-right: 0;
    }

    .contact-media .social-list>li {
        margin: 0;
        width: 50%;
        margin-bottom: 8px;
    }

    .social-link {
        display: grid;
        place-content: center;
    }

    .social-link span {
        display: block;
        position: static;
        font-size: 10px;
        height: auto;
        padding-top: 8px;
        width: fit-content;
    }

    .expertise-passion__about-me {
        margin-top: 0px;
    }

    .expertise-passion__about-me em {
        letter-spacing: 1px;
    }

    .expertise-skills .table-heading {
        width: 45%;
    }

    .expertise-skills .table-heading .tooltip {
        display: none;
    }

    .expertise-skills .table-heading .tooltip-popup {
        margin-bottom: 18px;
        max-height: max-content;
        font-size: 9px;
        font-style: italic;
        font-weight: 400;
        letter-spacing: 1px;
    }

    p {
        display: block;
    }

    .expertise-skills table,
    .expertise-skills table tr,
    .expertise-skills table th,
    .expertise-skills table td,
    .job-info,
    p {
        break-inside: avoid;
    }

    .expertise-skills table.open-table {
        width: 90%;
    }

    .expertise-skills .open-table tr {
        padding-bottom: 8px;
        border-bottom: #d4d4d4 2px solid;
    }

    .expertise-skills .open-table tr:last-child {
        border-bottom: none;
    }

    .expertise-skills .open-table .table-heading {
        border-left: none;
        padding-top: 10px;
    }

    .expertise-skills table td {
        font-size: 4.5vw;
    }

    [title="AngularJS"] {
        display: none !important;
    }

    .section-achievement {
        border-top: none;
    }

    .section-achievement .timeline .job-info {
        grid-template-columns: 33ch auto;
    }
}
